@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
}
.left img{
    width: 52px;
    height: 47px;
}
.container{
    padding: 0 3vw;
    margin: auto;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
nav{
    padding: 12px;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.input{
    width: 305px;
    height: 25px;
    padding: 6px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

.sec1{
    background-color: white;
    height: 122vh;
    margin-top: 33px;
}
.right-box{
    display: flex;
    margin: 12px;
}
/* @media (max-width:1400px){
    header{
        background-color: aqua;
        height: 122px;
    }
    nav{
        flex-direction: column;
        align-items: center;
        padding: 1px;
    }
    .right{
        display: flex;
        flex-direction: column;
        margin: 12px;
    }
    .input{
        margin: 0;
        height: 10px;
    }
    nav ul li{
        padding: 0 5px;
    }
    ul{
        padding: 2px;
    }
    .left img{
        width: 30px;
        height: 29px;
    }
    .space-between{
        justify-content: space-evenly;
    }
    .left{
        height: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .right{
        padding-top: 0px;
        margin-bottom: 0px;
    }
} */